.root {
  position: relative;
}

.widget {
  position:absolute;
  top: 0;
  left: 0;
}

.root span {
  padding: 0 10px 0 10px;
}

.root svg {
  margin-left: 10px;
}
.root svg:hover {
  cursor: pointer;
}
