:root[data-theme="light"] {
  --color: #1a1a1a;
  --background-color: #ffffff;
}

:root[data-theme="dark"] {
  --color: #ffffff;
  --background-color: #1a1a1a;
}

/* принудительно отключить плавную прокрутку для window.scrollTo(0, 0); 
в файле index.css это правило установлено как scroll-behavior:smooth
*/
html {
  scroll-behavior: auto !important;
}

body {
  background: var(--background-color) !important;
  background-image: url("./img/ural_m.png") !important;
  background-position: bottom right !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: 50% !important;
}

